@model PhanPhoiSach.Models.sale_order

@{
    ViewBag.Title = "ThemChiTietPhieuXuat";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dsCtPx = (List<PhanPhoiSach.Models.sale_order_item>)Session["ctphieuxuat"];
}

<h2>Chi tiết phiếu xuất</h2>


    @using (Html.BeginForm("ThemChiTietPhieuXuat", "sale_order", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="disabledInput" class="control-label col-md-2">Tên sách</label>
                <div class="col-md-10">
                    @Html.DropDownList("sach", null, htmlAttributes: new { @id = "masach", @name = "masach", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="disabledInput" class="control-label col-md-2">Số lượng</label>
                <div class="col-md-10">
                    <input id="soluong" name="soluong" type="number" value="1" class="form-control col-md-7 col-xs-12" />
                </div>
            </div>

            <div class="form-group">
                <label for="disabledInput" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <button id="next" type="submit" class="btn btn-primary" name="add">Thêm</button>
                    <button id="next" class="btn btn-primary" name="create">Lưu phiếu</button>
                    <a class="btn btn-primary" href="~/sale_order/Index">Hủy phiếu</a>
                </div>
             
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <b style="color:red;">@ViewBag.loi</b>
                </div>
            </div>
            <table id="chitiet" class="table table-striped table-bordered bulk_action">
                <thead>
                    <tr>
                        <td>Tên Sách</td>
                        <td>Số lượng xuất</td>
                        <td>Đơn giá xuất</td>
                        <td>Tổng cộng</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (dsCtPx != null)
                    {
                        foreach (var ct in dsCtPx)
                        {
                            <tr>
                                <td>@ct.book.book_name</td>
                                <td>@ct.sale_order_item_quantity</td>
                                <td>@ct.sale_order_item_price</td>
                                <td>@ct.sale_order_money</td>
                                <td>@Html.ActionLink("Xóa", "Deletectpx", new { bookid = @ct.fk_book }, null)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }

<p>
    @Html.ActionLink("Quay lại", "Create")
</p>