@model PhanPhoiSach.Models.sale_payment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>sale_payment</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.sale_payment_id)

        <div class="form-group">
            @Html.LabelFor(model => model.fk_agency, "fk_agency", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fk_agency", String.Empty)
                @Html.ValidationMessageFor(model => model.fk_agency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sale_payment_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sale_payment_time)
                @Html.ValidationMessageFor(model => model.sale_payment_time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sale_payment_money_pay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sale_payment_money_pay)
                @Html.ValidationMessageFor(model => model.sale_payment_money_pay)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
