@model PhanPhoiSach.Models.book

@{
    ViewBag.Title = "Xóa sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa sách</h2>

<h3>Bạn có chắc chắn muốn xóa sách này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.supplier.supplier_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier.supplier_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_field)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_field)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_seling_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_seling_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_purchase_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_purchase_price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
